/* alegreya-regular - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/alegreya-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers - smallest file */
        url('../fonts/alegreya-v29-latin-regular.woff') format('woff'); /* Fallback for older browsers */
  font-display: swap;
}
/* alegreya-900 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local(''),
        url('../fonts/alegreya-v29-latin-900.woff2') format('woff2'), /* Super Modern Browsers - smallest file */
        url('../fonts/alegreya-v29-latin-900.woff') format('woff'); /* Fallback for older browsers */
  font-display: swap;
}